:root{
    --orange: rgb(243, 100, 47);
    --green: rgb(18, 233, 18);
    --blue: rgb(59, 158, 240);
    --red: red;
    --light-gray: #dbe9f0;
    --medium-gray: rgba(245, 245, 245, 0.6);
    --gray: #ddd;
    --yellow: #ffc201;
    --white: #fff;
    --black: #000;
    --button-width: 100px;
    --highlights-width: 90px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden !important;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, p, span, a{
    font-family: 'Open Sans', sans-serif;
}
/*Banner Carousel*/
#banner .item img {
    z-index: -1;
}
.slick-dots {
    position: absolute;
    bottom: 1%;
    left: 50px;
    transform: translateY(-50%);
    display: flex;
    z-index: 999;
    justify-content: flex-start;
}

.slick-dots li {
    margin: 0 5px;
}
.slick-dots li button:before {
    font-size: 10px;
    color: var(--gray); /* default color for inactive dots */
    width: 10px;
    height: 10px;
    border-radius: 25px;
    display: inline-block;
    content: ''; /* remove the default dot content */
    background-color: var(--gray); ;
}

.slick-dots li.slick-active {
    margin-right: 25px;
}

.slick-dots li.slick-active button:before {
    background-color: var(--yellow); /* color for active dot */
    width: 30px; /* width for active dot */
    height: 8px; /* height for active dot */
    opacity: 1; /* make sure the active dot is fully opaque */
}

/* Promotion Carousel */
.slick-prev, .slick-next {
    background: var(--light-gray) !important;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#promotion .slick-prev {
    left: -15px;
    z-index: 1;
}

#promotion .slick-next {
    right: -15px;
}

.slick-prev:hover, .slick-next:hover {
    background: var(--light-gray);
    color: var(--green);
}

/* Additional styles for default arrows */
.slick-prev::before, .slick-next::before {
    content: ''; /* Clear default content */
}

/* Use Font Awesome 6 icons for navigation arrows */
.slick-prev::before {
    font-family: 'Font Awesome Kit'; /* Specify Font Awesome */
    font: var(--fa-font-solid);
    content: '\f053'; /* Unicode for left chevron icon */
    color: var(--green);
}

.slick-next::before {
    font-family: 'Font Awesome 6 Free'; /* Specify Font Awesome */
    font: var(--fa-font-solid);
    content: '\f054'; /* Unicode for right chevron icon */
    color: var(--green);
}

/* Custom styles for active and hover states */
.slick-prev:hover::before, .slick-next:hover::before {
    color: var(--green);
}

/* Popular Games Carousel */
#populargames .slick-prev {
    top: 90px;
    z-index: 1;
}

#populargames .slick-next {
    top: 90px;
}

.demo-play {
    background-color: var(--medium-gray);
    transform: translateY(100%); /* Start from below */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}

#populargames .item-image:hover .demo-play {
    opacity: 1; /* Show on hover */
    transform: translateY(0); /* Move into view */
}

.demo-play .demo,
.demo-play .demo:focus,
.demo-play .demo:hover {
    background: var(--blue);
}

.demo-play .play,
.demo-play .play:focus,
.demo-play .play:hover {
    background: var(--orange);
}
.demo-play .demo,
.demo-play .play{
    width: var(--button-width);
}

.highlights {
    background: var(--blue);
    width: var(--highlights-width);
}
.info-hide{
    background: var(--light-gray);
}
.info-hide p{
    font-size:15px;
}
.icons {
    cursor: pointer;
}
.info-hide-container {
    display: none; /* Initially hide */
    margin-top: -50px;
    z-index:5;
}
.game-description{
    z-index: -1;
}

.icons:hover + .info-hide-container {
    display: block; /* Show when the icon is hovered */
}
/*END*/

/*CASINO GAMES Carousel*/
#casinogames .slick-prev {
    top: 90px;
    z-index: 1;
}

#casinogames .slick-next {
    top: 90px;
}
/*END*/

/*CASINO GAMES Carousel*/
#instantgames .slick-prev {
    top: 90px;
    z-index: 1;
}

#instantgames .slick-next {
    top: 90px;
}
/*END*/

/*OVERALL STYLES*/
.main-container{
    padding:20px 0;
}

.title{
    font-size:15px;
}
.game-description p{
    font-size:13px;
}
.hot {
    background: var(--orange);
}

.new {
    background: var(--red);
}
.hot,
.new {
    padding: 2px 8px;
    font-size: 13px;
}

@media (max-width: 1300px){
    /*Popular Games Carousel*/
    .info-hide p{
        font-size:11px;
    }
    .title{
        font-size:13px;
    }
    .game-description p{
        font-size:11px;
    }
    /*END*/
}

@media (max-width: 600px) {
    body{
        overflow-x: hidden !important;
    }
    /* Banner Carousel */
    .slick-dots {
        left: 28px;
    }

    .slick-dots li.slick-active button:before {
        background-color: var(--red);
        width: 20px;
        height: 5px;
    }
    /*END*/
    /* Promotion Carousel */
    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    #promotion .slick-prev {
        left: 15px;
    }
    
    #promotion .slick-next {
        right: 15px;
    }
    /*END*/

    /* Popular Games Carousel */
    .main-container{
        padding:25px 15px;
    }
    /*END*/
    
}

@media (max-width: 500px) {
    
}