/* Define CSS variables */
:root {
    --orange: rgb(243, 100, 47);
    --green: rgb(18, 233, 18);
    --blue: rgb(59, 158, 240);
    --red: red;
    --light-gray: #dbe9f0;
    --medium-gray: rgba(245, 245, 245, 0.6);
    --gray: #ddd;
    --yellow: #ffc201;
    --white: #fff;
    --black: #000;
    --button-width: 100px;
    --highlights-width: 90px;
}

/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styles */
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

/* Specify font-family for specific elements */
h1, h2, h3, p, span, a {
    font-family: 'Open Sans', sans-serif;
}

/* Styles for carousel dots */
.slick-dots {
    position: absolute;
    bottom: 1%;
    left: 50px;
    transform: translateY(-50%);
    display: flex;
    z-index: 999;
    justify-content: flex-start;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots li button:before {
    font-size: 10px;
    color: var(--gray);
    width: 10px;
    height: 10px;
    border-radius: 25px;
    display: inline-block;
    content: '';
    background-color: var(--gray);
}

.slick-dots li.slick-active {
    margin-right: 25px;
}

.slick-dots li.slick-active button:before {
    background-color: var(--yellow);
    width: 30px;
    height: 8px;
    opacity: 1;
}

/* Styles for carousel navigation arrows */
.slick-prev,
.slick-next {
    background: var(--light-gray) !important;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Position arrows for promotion carousel */
#promotion .slick-prev {
    left: -15px;
}

#promotion .slick-next {
    right: -15px;
}

/* Hover styles for arrows */
.slick-prev:hover,
.slick-next:hover {
    background: var(--light-gray);
    color: var(--green);
}

/* Specify Font Awesome icons for arrows */
.slick-prev::before,
.slick-next::before {
    content: '';
}

.slick-prev::before {
    font-family: 'Font Awesome Kit';
    font: var(--fa-font-solid);
    content: '\f053';
    color: var(--green);
}

.slick-next::before {
    font-family: 'Font Awesome 6 Free';
    font: var(--fa-font-solid);
    content: '\f054';
    color: var(--green);
}

/* Hover styles for arrow icons */
.slick-prev:hover::before,
.slick-next:hover::before {
    color: var(--green);
}

/* Additional styles for specific carousels */
#promotion .slick-prev,
#populargames .slick-prev,
#casinogames .slick-prev,
#instantgames .slick-prev,
#promotion .slick-next,
#populargames .slick-next,
#casinogames .slick-next,
#instantgames .slick-next {
    top: 90px;
    z-index: 1;
}

#populargames .slick-prev,
#populargames .slick-next {
    top: 90px;
}

/* Styles for demo play buttons */
.demo-play .demo,
.demo-play .play {
    width: var(--button-width);
}

/* Highlight styles */
.highlights {
    background: var(--blue);
    width: var(--highlights-width);
}

/* Styles for hidden info */
.info-hide {
    background: var(--light-gray);
}

.info-hide p {
    font-size: 15px;
}

/* Cursor style for icons */
.icons {
    cursor: pointer;
}

/* Container for hidden info */
.info-hide-container {
    display: none;
    margin-top: -50px;
    z-index: 5;
}

/* Show hidden info on icon hover */
.icons:hover + .info-hide-container {
    display: block;
}

/* Responsive styles */
@media (max-width: 1300px) {
    /* Adjust font sizes for smaller screens */
    .info-hide p {
        font-size: 11px;
    }

    .title,
    .game-description p {
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    /* Adjust carousel dot position */
    .slick-dots {
        left: 28px;
    }

    /* Adjust size and color of active carousel dots */
    .slick-dots li.slick-active button:before {
        background-color: var(--red);
        width: 20px;
        height: 5px;
    }

    /* Adjust padding for main container */
    .main-container {
        padding: 25px 15px;
    }
}
